html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}

.banner {
  padding-block-end: 1rem;
  height: 200px;
  display: grid;
  align-items: end;
  background-image: url(https://picsum.photos/id/704/1900/400);
  background-position-x: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .banner {
    padding-block-end: 2rem;
    height: 400px;
  }
}

.menu__content {
  padding-inline: 2rem;
}
@media screen and (min-width: 768px) {
  .menu__content {
    padding-inline: 8rem;
  }
}

.collapsed__end--block {
  margin-block-end: 0;
}
.collapsed__start--block {
  margin-block-start: 0;
}

.page {
  display: grid;
  grid-template-rows:
    [page__header] auto
    [page__content] 1fr
    [page__footer] auto;
}
.page__header {
  grid-row: page__header;
  position: sticky;
  top: 0;
  height: 5rem;
  background-color: orange;
  box-shadow: 0 0 1rem black;
}
.page__content {
  grid-row: page__content;
  background-color: white;
}
.page__footer {
  grid-row: page__footer;
  height: 12rem;
  background-color: lightgray;
}

.restaurant__logo {
  border-radius: .75rem;
  box-shadow: 0 0 .75rem black;
}
